node_modules/
   .env
   build/
   dist/
   .DS_Store
   *.log
echo "collab-code-editor-3963c-firebase-adminsdk-alpj9-d561fa3ed6.json" >> .gitignorecollab-code-editor-3963c-firebase-adminsdk-alpj9-d561fa3ed6.json
collab-code-editor-3963c-firebase-adminsdk-alpj9-d561fa3ed6.json
echo "*firebase-adminsdk*.json" >> .gitignore
*firebase-adminsdk*.json
collab-code-editor-3963c-firebase-adminsdk-alpj9-d561fa3ed6.json
