.remote-cursor {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #f00;
  z-index: 1;
}

.remote-cursor::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 12px;
  background-color: #f00;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  white-space: nowrap;
}
